<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.cruzverde"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.org.cruzverde.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.kubo.hayevento.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".ui.Splash_Activity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_debug" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.Main_Activity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.Creditos_Activity"
            android:label="@string/title_activity_creditos_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.Ayuda_Activity"
            android:label="@string/title_activity_ayuda_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.Contacto_Activity"
            android:label="@string/title_activity_contacto_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DrogueriasCercanas_Activity"
            android:label="@string/title_activity_droguerias_cercanas_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.PuntosCruz_Activity"
            android:label="@string/title_activity_puntos_cruz_"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.org.cruzverde.services.FusedLocationService"
            android:exported="false" />

        <activity
            android:name=".Ayuda_detalle"
            android:label="@string/title_activity_ayuda_detalle" 
               android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Ayuda_detalle_activity"
            android:label="@string/title_activity_ayuda_detalle_activity"
            android:screenOrientation="portrait" 
       >
        </activity>
        
        <activity
            android:name="com.org.cruzverde.ui.Ayuda_detalle_activity"
            android:label="@string/title_activity_ayuda_detalle_activity" >
        </activity>
    </application>

</manifest>